*{
    padding: 0;
    margin: 0;
    overflow-y: hidden;
}
body{
    background-image: linear-gradient(rgba(54,69,93,0.8),rgba(150,173,209,0.8)) , url(https://images.pexels.com/photos/634848/pexels-photo-634848.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
header{
    text-align: center;
    color:red ;
    font-size: 50px;
    font-family: "Kaushan Script";
    margin-top: px;
    font-weight: bolder;
}

label{
    display: inline-block;
    width: 350px;
    text-align: left;
}

input{
width: 200px;
}

.abc{
    display: inline-block;
    width: 400px;
}
.xyz{
display: inline-block;
width: 20px;
}

.right-section{
    float: right;
    margin: -510px 20px 0 0;
    padding:0 200px 0 50px ;
    font-family: "Share Tech Mono";
    font-weight: bolder;
}
.left-section{
 
    margin: 10px 800px 20px 50px;
    padding: 0 0 3px 0;
    font-family: "Share Tech Mono";
    font-weight: bolder;
}

.list{
    line-height: 30px;
}
.btn{
    border-radius:40px;
    border: 0;
    padding: 10px 30px;
    margin: 10px 0 0 70px;
    background-color: pink;
    font-size: 25px;
    color: black;
    font-weight: bolder;
}
.btn:hover, .tribute:hover{
    background-color: red;
    color: white;
}
.tribute{
    display: flex;
    margin: -100px 0 0 800px;
    border-radius:40px;
    border: 0;
    padding: 15px 70px;
    background-color: pink;
    font-size: 40px;
    color: black;
    font-weight: bolder;
}
.hyper{
    text-decoration: none;
}
